.mainDiv {
  min-height: 100vh !important;
}
.tableRow:hover {
  background-color: #8080806e;
  cursor: pointer;
}
.sideBarIcon {
  margin: 0.3em !important;
  transition: 0.5s ease;
}
.sideBarIcon:hover {
  cursor: pointer;
  background-color: #8080806e;
}
.clubName:hover {
  color: blue;
  cursor: pointer;
  text-decoration: underline;
}

.photoContainer {
  background-image: url("./assets/football.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: 25em;
}
